{
    "tabWidth": 4,
    "endOfLine": "auto",
    "overrides": [
        {
            "files": [
                "pages/index.js",
                "_app.js",
                "_document.js",
                "*.yml",
                "styles/*.css"
            ],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
