.navbar {
  height: var(--navbarHeight);
  background-color: var(--seashell);
  /* needs bg in case content is diff color */
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 100vw;

  position: fixed;
  z-index: 1000;
  transition: top 0.3s;
}

.navItems {
  margin: 1rem 3rem 0 0;
  display: flex;
  align-items: center;
}

.navItems > a,
.dropdown,
.navItems Button {
  /* navTab is a workaround for giving the dropdown-free tabs styling */
  margin: 0 0 0 1.5rem;
  font-weight: 500;
}
.logInBtn {
  margin-left: 1.5rem;
}
.dropdown {
  display: inline-block;
}
/* Dropdown initial is not shown. Position is absolute to the dropdown span */
.dropdownContent {
  display: none;
  position: absolute;
  background-color: var(--berry);
  color: var(--seashell);
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
}

.dropdownContent a:not(:last-child) {
  margin-bottom: 0.5rem;
}
.dropdownContent a {
  font-size: 0.9rem;
  box-shadow: none;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdownContent {
  display: flex;
  flex-direction: column;
  /* margin-top: 0.7rem;
  TODO: add triangle notch */
}

/* .dropdownContent a:hover {
  box-shadow: 0 -0.4em 0 inset var(--horizon);
  FIXME: this is ugly lol
} */
.logo {
  object-fit: contain;
  margin: 0.7rem 1.5rem 0;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  height: calc(var(--navbarHeight) * 0.6);
  /*TODO: Gapyearly Logo Animation is delayed*/
  transition: top 0.3s;
}
.avatar {
  display: inline-block;
  margin: 0 0 0 1.5rem;
}
