.container {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: white;
  height: 80vh;
  position: relative;
  width: 100%;
}
.messagingWindow {
  display: flex;
  flex-direction: column;
  width: calc(100% - 240px);
  /* dependent on chatlist width (min-width: 240px) */
  position: relative;
}
.chatList {
}
.messagingHeader {
  display: block;
  background-color: var(--berry);
  color: var(--seashell);
  padding: 0.5rem 1rem;
  margin: 0;
  border-radius: 10px 10px 0 0;
}
