.container {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: white;
  height: 90vh;
  position: relative;
  width: 100%;
}
.messagingWindow {
  display: flex;
  flex-direction: column;
  width: calc(100% - 240px);
  /* dependent on chatlist width (min-width: 240px) */
  position: relative;
}
.chatList {
}
