.backgroundImage {
  z-index: 0;
  position: fixed;
}
.logo {
  cursor: pointer;
  position: fixed;
  max-height: calc(var(--navbarHeight) * 0.7);
  z-index: 1001;
  /*TODO: Gapyearly Logo Animation is delayed*/
}
.formContainer {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
}
