.backgroundImage {
  z-index: 0;
  position: fixed;
}
.logo {
  cursor: pointer;
  position: fixed;
  max-height: calc(var(--navbarHeight) * 0.7);
  z-index: 1001;
  /*TODO: Gapyearly Logo Animation is delayed*/
}
.formContainer {
  padding-top: 10rem;
  transition: transform 0.7s ease, opacity 0.7s ease;
  overflow-x: hidden;
  min-height: 100%;
}
/* TODO: fix gorizonal scroll */
.formContainer h1,
.formContainer h2,
.formContainer p {
  text-align: center;
}
.formContainer h1 {
  margin-bottom: 0;
}
.formContainer h2 {
  margin-bottom: 1rem;
}
.formContainer form {
  margin: 0 auto;
}
.formContainer label {
  display: block;
}
input#gapYearStart,
input#gapYearEnd,
input#universityYear,
input#universityName {
  display: inline;
}
input#gapYearStart,
input#gapYearEnd {
  width: 5rem;
}

input#universityName {
  width: 13rem;
  margin-right: 0.5rem;
}
input#universityYear {
  width: 5rem;
}
.checkboxLabel,
input#newsletterConsent,
input#termsConsent {
  display: inline !important;
}
.checkboxLabel p {
  font-weight: 500;
  text-align: left;
  display: inline;
}
input#newsletterConsent,
input#termsConsent {
  width: fit-content;
  margin-right: 10px;
  margin-bottom: 0;
}
fieldset .gapYear {
  display: flex;
}
.btns {
  display: flex;
  justify-content: space-between;
  width: 25rem;
  margin-top: 2rem;
}
.firstNextBtn {
  justify-self: flex-end;
}
/* FIXME:make 1st Next button (on name.js) align to right */
.avatar {
  margin: 0 auto;
}
.avatarForm {
  margin: 0 auto;
}
input#instagram {
  display: inline;
  width: 15rem !important;
  margin-left: 0.5rem;
}
