.container {
  display: flex;
  justify-content: flex-start;
  padding: 2rem;
  object-fit: cover;
}
.community {
  margin-left: auto;
  text-align: left;
}
.community h1 {
  text-align: left;
}
.window {
  min-width: 50vw;
  margin: 5rem 0;
}
.windowHeader {
  background-color: var(--clay);
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
.windowHeader h1 {
  margin: 0;
}

.windowContent {
  background-color: white;
  height: 50vh;
  box-shadow: 0px 3px 6px black;
  padding: 0.7rem 1.2rem;
}
