.communityContainer {
  padding: 2rem 0;
  text-align: left;
  width: 100%;

  /* 100vw - nav width, 
  FIXME: to include mobile menu/max-width px value */
  display: flex;
  justify-content: space-evenly;
}

.title {
  margin-top: 2rem;
}

/* COMMUNITY HUB*/

.buttonSigns > Button {
  display: block;
  margin-bottom: 1.2rem;
}
.window {
  width: 45vw;
  box-shadow: 0px 3px 6px lightgray;
  position: relative;
  right: 0;
  overflow-y: auto;
}
.windowHeader {
  background-color: var(--clay);
  padding: 10px;
  border-radius: 7px 7px 0 0;
  box-shadow: 0px 3px 6px lightgray;
}
.windowHeader h2 {
  margin: 0;
  color: var(--seashell);
}

.windowContent {
  background-color: white;
  height: 50vh;
  padding: 0.7rem 1.2rem;
  border-radius: 0 0 7px 7px;
  position: relative;
}
.dateBanner {
  background-color: var(--horizon);
  color: var(--seashell);
  display: block;
  position: absolute;
  left: 0;
  padding: 1rem;
  height: 3.3rem;
  border-radius: 0 10px 10px 0;
  margin-top: 1rem;
}

.askWindow form {
  margin: 1.5rem auto;
}
.askWindow button {
  margin: auto;
  display: block;
  font-size: 0.9rem;
  padding: 0.35rem 0.5rem;
}
.askWindow textarea {
  width: 80%;
  margin: 0 auto 1rem;
}
/* PROFILE OVERVIEW */
.profile > h3 {
  display: block;
}
.chatboxWindow {
  max-width: 70vw;
  height: 85vh;
  box-shadow: 0px 3px 6px lightgray;
  position: relative;
  right: 0;
  margin: 4rem auto;
  border-radius: 10px;
}

/* SHARE YOUR STORY */
.shareYourStory {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 70%;
  margin: auto;
}
.submitContentBtn {
}
.shareYourStory h2 {
}
.submitBg {
  color: var(--clay);
}

.textBubbleButtonContainer {
  margin: 0 1rem 2rem;
}
.textBubbleButton {
  display: flex;
  align-items: center;
  width: 10rem;
  height: 8rem;
  position: relative;
  border-radius: 5px;
  padding: 0.5rem;
}
.textBubbleButton BsFillChatSquareFill {
  z-index: -1;
}
.textBubbleButton h2 {
  z-index: 1;
  text-align: center;
  color: var(--seashell);
  font-weight: 500;
  font-size: 1.5rem;
}
.textBubbleButton::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
}
.redBg {
  background-color: var(--clay);
}
.redBg::after {
  border-top: 2rem solid var(--clay);
}

.blueBg {
  background-color: var(--horizon);
}
.blueBg::after {
  border-top: 2rem solid var(--horizon);
}

.greenBg {
  background-color: var(--aqua);
}
.greenBg::after {
  border-top: 2rem solid var(--aqua);
}

.darkBg {
  background-color: var(--clay);
}
.darkBg::after {
  border-top: 2rem solid var(--clay);
}
.bold {
  font-weight: 700;
}
