.title {
  margin-top: 2rem;
}
.dashInstructions span {
  font-weight: 600;
}
.dashInstructions {
  width: 70%;
  margin: 0 auto;
}
.dashInstructions li {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}
/* COMMUNITY HUB*/
.communityContainer {
  padding: 2rem 0;
  text-align: left;
  width: 100%;
  padding-left: 40px;
  /* 100vw - nav width, 
  FIXME: to include mobile menu/max-width px value */
  display: flex;
  justify-content: space-evenly;
}
.signPost {
  background-color: var(--berry);
  height: 100%;
  width: 15px;
  border-radius: 15px;
  z-index: 1;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 0;
}
.buttonSigns {
  position: relative;
  margin-top: 13vh;
}
.buttonSigns > Button {
  display: block;
  margin: 1.2rem auto 0.8rem;
  z-index: 2;
  position: relative;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
.connectBtn {
  left: 20px;
  margin-top: 1.2rem;
}
.askBtn {
  right: 35px;
}
.allMembersBtn {
  left: 50px;
}
.window {
  width: 45vw;
  box-shadow: 0px 3px 6px lightgray;
  position: relative;
  right: 0;
  overflow-y: auto;
  margin-left: 40px;
}
.windowHeader {
  background-color: var(--clay);
  padding: 10px;
  border-radius: 7px 7px 0 0;
  box-shadow: 0px 3px 6px lightgray;
}
.green {
  background-color: var(--aqua);
}
.blue {
  background-color: var(--horizon);
}
.windowHeader h2 {
  margin: 0;
  color: var(--seashell);
}

.windowContent {
  background-color: white;
  height: 50vh;
  padding: 0.7rem 1.2rem;
  border-radius: 0 0 7px 7px;
  position: relative;
}
.dateBanner {
  background-color: var(--horizon);
  color: var(--seashell);
  display: block;
  position: absolute;
  left: 0;
  padding: 1rem;
  height: 3.3rem;
  border-radius: 0 10px 10px 0;
  margin-top: 1rem;
}

.askWindow form {
  margin: 1.5rem auto;
}
.askWindow button {
  margin: auto;
  display: block;
  font-size: 0.9rem;
  padding: 0.35rem 0.5rem;
}
.askWindow textarea {
  width: 80%;
  margin: 0 auto 1rem;
}
@media (max-width: 800px) {
  .communityContainer {
    flex-direction: column-reverse;
    padding-left: 10%;
  }
  .window {
    width: 70vw;
    box-shadow: 0px 3px 6px lightgray;
    position: relative;
    right: 0;
    overflow-y: auto;
    margin-left: 0;
  }
  .buttonSigns {
    margin-top: 1rem;
  }
  .signPost {
    height: 260px;
  }
}

/* SHARE YOUR STORY */
.shareYourStory {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 70%;
  margin: auto;
}
.anonymousCaption {
  text-align: center;
}
.submitContentBtn {
}
.shareYourStory h2 {
}
.submitBg {
  color: var(--clay);
}

.textBubbleButtonContainer {
  margin: 0 1rem 2rem;
}
.textBubbleButton {
  display: flex;
  align-items: center;
  width: 10rem;
  height: 8rem;
  position: relative;
  border-radius: 5px;
  padding: 0.5rem;
}
.textBubbleButton BsFillChatSquareFill {
  z-index: -1;
}
.textBubbleButton h2 {
  z-index: 1;
  text-align: center;
  color: var(--seashell);
  font-weight: 500;
  font-size: 1.5rem;
}
.textBubbleButton::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
}
.redBg {
  background-color: var(--clay);
}
.redBg::after {
  border-top: 2rem solid var(--clay);
}

.blueBg {
  background-color: var(--horizon);
}
.blueBg::after {
  border-top: 2rem solid var(--horizon);
}

.greenBg {
  background-color: var(--aqua);
}
.greenBg::after {
  border-top: 2rem solid var(--aqua);
}

.darkBg {
  background-color: var(--clay);
}
.darkBg::after {
  border-top: 2rem solid var(--clay);
}
.bold {
  font-weight: 700;
}

/*  SUBMIT */
.submissionContainer form {
  margin: 0 auto;
}
.submissionContainer form > label {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  display: inline-block;
}

.submissionContainer form textarea {
  width: 100%;
}
.submissionContainer form input[type="text"] {
  width: 60%;
}
.submissionContainer:last-child {
  margin-bottom: 0.5rem;
}
.submissionContainer .rating {
  display: block;
}
.submissionContainer .rating input {
  width: 1.5rem;
}
.submissionContainer .radioBtn label {
  display: block;
}
.submissionContainer .rating::after {
  content: " /5";
  font-size: 1rem;
}
.userDashH2 {
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.submissionContainer form {
  width: 40rem;
}
.selfFundedContainer {
  margin-bottom: 0.5rem;
}
@media (max-width: 500px) {
  .submissionContainer form {
    max-width: 70vw;
    margin: 0 auto;
  }
}

/* PROFILE OVERVIEW */
.profile {
  padding: 2rem 0;
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.avatarContainer {
  position: relative;
  width: 10rem;
  height: 10rem;
  margin-right: 4rem;
}
.avatar {
  border-radius: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.editAvatarText {
  display: none;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 600;
  color: var(--seashell);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 5px;

  transform: translate(-50%, -50%);
}
.editAvatarText:hover {
  cursor: pointer;
}
.avatar:hover {
  cursor: pointer;
}
.avatarContainer:hover > .editAvatarText {
  display: inline-block;
}
.profileContainer {
  width: 60%;
}
.profile hr {
  border-top: 1px solid var(--berry);
}
.profile > h3 {
  display: block;
}
@media (max-width: 600px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
  .profileContainer {
    width: 80%;
  }
  .avatarContainer {
    margin-right: 0;
  }
}

.chatboxWindow {
  width: 800px;
  height: 85vh;
  box-shadow: 0px 3px 6px lightgray;
  position: relative;
  right: 0;
  margin: 4rem auto;
  border-radius: 10px;
}

@media (min-width: 1101px) {
  .chatboxWindow {
    width: 800px;
  }
}
@media (max-width: 1100px) {
  .chatboxWindow {
    width: 600px;
  }
}
@media (max-width: 600px) {
  .chatboxWindow {
    width: 300px;
  }
}
.profileSection {
  display: flex;
}
.viewAll {
  width: 100%;
}
.viewAll Button {
  margin: auto;
  display: block;
}
