.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 15vh;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  /* width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  bottom: 0;
  height: 40vh;
  position: fixed; */
}
.greenBlue {
  background-image: url("/images/greenblue-valleys.svg");
}
.redYellow {
  background-image: url("/images/redYellow-valleys.svg");
}
