.footer {
  background-color: var(--berry);

  display: flex;
  flex-direction: column;
  color: var(--seashell);
  padding: 1em 3em 0;
  margin-top: 2em;
  padding-bottom: 2em;
}
.footer_column {
  list-style-type: none;
  line-height: 2em;
}
.footer_column_title {
  font-weight: 500;
  font-size: 0.8em;
}
.footer_column_link {
  margin: 0;
  font-size: 0.7em;
  line-height: 1.5;
}
.sitemap {
  display: flex;
  flex-flow: row wrap;
}
.socialMediaIconWrapper {
  display: flex;
  justify-content: flex-end;
}
.socialMediaIconWrapper a {
  box-shadow: none;
}
