.footer {
  background-color: var(--berry);
  color: var(--seashell);
  padding: 1em 3em 0.7em;
  margin-top: 2em;
}
@media (min-width: 1000px) {
  .footer {
    padding: 1em 6rem 0.7em;
  }
}
.footer_column {
  list-style-type: none;
  line-height: 2em;
}
.footer_column_title {
  font-weight: 500;
  font-size: 0.8em;
}
.footer_column_link {
  margin: 0;
  font-size: 0.7em;
  line-height: 1.5;
}
.sitemap {
  display: flex;
  flex-flow: row wrap;
}
.socialMediaIconWrapper {
  display: flex;
  justify-content: flex-end;
}
.socialMediaIconWrapper a {
  box-shadow: none;
}
.centerFooter {
  text-align: center;
}
.footer ul {
  padding-left: 0;
  padding-right: 5em;
}
.legal {
  margin-bottom: 0.5rem;
}
