/* Layouts must be used with a classname. They are:
- fixedContentWidth: for pages that have pixel widths with media queries, like blog posts or FAQs
- galleryWidth: for masonry gallery pages, where cards need closer to fullscreen width/less margins & has built in media queries
- homeWidth: for homepage
- dashboardWidth: for user dashboard, which uses margin to avoid the nav at the side */

.layout main {
  min-height: 70vh;
  max-width: 100vw;
  min-height: 60vh;
  /* TODO: sticky footer not working */
  margin: 0 auto;
  flex: 1;
}

@media (max-width: 599px) {
  .layout main {
    width: 85%;
  }
}
@media (min-width: 600px) {
  .layout main {
    width: 540px;
  }
}
@media (min-width: 800px) {
  .layout main {
    width: 700px;
  }
}
@media (min-width: 1200px) {
  .layout main {
    width: 1000px;
  }
}
.galleryWidth {
  width: 85% !important;
}
.layout main > h2 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}
.userDash {
  width: 100%;
}
