.navbar {
  position: fixed;
  height: 100%;
  width: 15rem;
  top: 0px;
  left: 0px;
  background: var(--berry);
  box-sizing: border-box;
}
.logo {
  width: 60%;
  cursor: pointer;
  z-index: 1001;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 2rem 0;
}
.navItem {
  margin: 0;
  padding: 0.9rem 2rem;
  display: flex;
  align-items: center;
  color: var(--seashell);
  transition: 0.1s ease;
  cursor: pointer;
}

.navItem a {
  box-shadow: none;
  font-weight: 400;
}
.navIcon {
  margin: auto 1rem auto 0;
}
.main {
  max-height: 100vh;
  margin-left: 15rem;
  /* dependent on width of nabar */
  margin-right: 0 !important;
  box-sizing: border-box;
}
.exitDashBtn {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 0.9rem;
}
.mainCenter {
  margin: 0 auto;
  display: block;
  width: 100%;
  /* not sure if this acc does anything */
}
@media (max-width: 800px) {
  .navbar {
    width: 3rem;
  }
  .main {
    margin-left: 3rem;
    /* dependent on width of nabar */
  }
  .navItem {
    margin: 0;
    padding: 0.9rem 1rem;
    display: flex;
    align-items: center;
    color: var(--seashell);
    transition: 0.1s ease;
    cursor: pointer;
  }
}
.navItem:active,
.navItem:focus,
.navItem:hover,
.onHover {
  background-color: var(--clay);
}
@media (max-width: 500px) {
  .mainCenter {
    margin-top: 3rem;
  }
  .exitDashBtn {
    position: absolute;
    right: 30%;
  }
}
