.alert,
.alert button {
  color: var(--seashell);
  display: flex;
  align-items: center;
}
.alert {
  font-weight: 600;
  padding: 0.2rem 0.5rem;
  margin-top: 2rem;
  border-radius: 5px;
}
.icon {
  padding-right: 500px;
}
.blueBg {
  background-color: var(--horizon);
}
.greenBg {
  background-color: var(--aqua);
}
.darkBg {
  background-color: var(--berry);
}
.redBg {
  background-color: var(--clay);
}
.greyBg {
  background-color: var(--gray);
}
