.author {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 1rem;
}
.title {
  text-align: left;
  margin: 0.8em 0 0.3em 0;
}
.clickable {
  cursor: pointer;
  margin-top: 1.5em;
}
.reflectionContainer h3 a {
  font-weight: 600;
  font-size: 1.5rem;
}
.reflectionContainer h4 {
  margin-top: 0.3rem;
  font-weight: 500;
}
