.connectContainer {
  margin: 0 5rem;
}
/* media queries depserately needed here */
.stepsIcon {
  color: var(--horizon);
  align-self: center;
}
.stepsContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 1.5em;
}
.stepsText {
  margin-left: 2em;
  display: inline-block;
  width: 60%;
}
.applyBtn {
  display: block;
  margin: 1em auto 0;
}
