:root {
  --berry: #4f002a;
  --seashell: #fefbf6;
  --sunlight: #ffdf9d;
  --aqua: #00a998;
  --horizon: #0b5ee0;
  --clay: #f85d48;
}

* {
  box-sizing: border-box;
  --navbarHeight: 80px;
}

html,
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-size: calc(1em + 0.2vw);
  color: var(--berry);
  background-color: var(--seashell);
}

main {
  padding: 0 1rem;
}

a {
  color: inherit;
  transition: color 0.15s ease, border-color 0.15s ease;
  box-shadow: 0 -0.4em 0 inset var(--sunlight);
  text-decoration: none;
  position: relative;
  z-index: 1;
}
/* a:hover,
a:focus,
a:active 
add animations/transitions*/

button {
  background-color: var(--aqua);
  border: none;
  border-radius: 5px;
  color: var(--seashell);
  font-weight: 500;
  padding: 0.5rem;
}


input,
button {
  font-size: inherit;
  font-family: inherit;
}
input {
  border: 1px solid var(--horizon);
  border-radius: 5px;
}

p {
  font-size: 0.9rem;
}


.card {
  aspect-ratio: 1/1;
  height: 200px;
  width: 200px;
}

.cardDesc {
  background-color: var(--berry);
  color: var(--seashell);
}
