/* TODO: add shadows */
:root {
  --berry: #4f002a;
  --seashell: #fefbf6;
  --sunlight: #ffdf9d;
  --aqua: #00a998;
  --horizon: #0b5ee0;
  --clay: #f85d48;
  --gray: rgba(0, 0, 0, 0.35);
}

* {
  box-sizing: border-box;
  --navbarHeight: 3.9rem;
}

html,
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-size: calc(0.9em + 0.2vw);
  color: var(--berry);
  background-color: var(--seashell);
}

body {
  min-height: calc(100vh - var(--navbarHeight));
  display: flex;
  flex-direction: column;
}
main {
  min-height: 60vh;
  /* TODO: sticky footer not working */
  margin: 0 7rem;
  flex: 1;
}
@media (max-width: 800px) {
  main {
    margin: 0 4rem;
  }
}
.header {
  background-color: var(--horizon);
  text-align: center;
  color: var(--seashell);
  display: block;
  padding: 0.7rem;
  max-width: 100%;
  margin: var(--navbarHeight) 0 1.5rem;
}
a {
  color: inherit;

  transition: color 0.15s ease;
  /* border-color: 0.15s ease; */
  box-shadow: 0 -0.4em 0 inset rgba(255, 223, 157, 0.85);
  text-decoration: none;
  position: relative;
  z-index: 1;
  font-weight: 500;
}
.blueUnderline {
  box-shadow: 0 -0.4em 0 inset rgba(11, 94, 224, 0.85);
}
/* a:hover,
a:focus,
a:active 
TODO:add animations/transitions*/
.noUnderline {
  box-shadow: none;
  /*for buttons/pills/other links to take away default <a> underline*/
}
button {
  border: none;
  color: var(--seashell);
  font-weight: 600;
  padding: 0.5rem;
  margin: 4px 0;
}

input[type="file"]::file-selector-button,
input[type="file"]::-webkit-file-upload-button {
  font-style: "Quicksand";
  border: none;
  color: var(--seashell);
  font-weight: 600;
  padding: 0.5rem;
  margin: 4px 0.5rem 4px 0;
  background-color: var(--berry);
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
}

/* input[type=file]::-webkit-file-upload-button:hover, input[type=file]::file-selector-button:hover {
} */

input,
button,
textarea {
  font-size: inherit;
  font-family: inherit;
  border-radius: 5px;
}

/* DROPDOWN BC ITS STUPID AND UGLY */
.dd-list-item:hover {
  background-color: var(--horizon) !important;
}
input,
textarea {
  font-size: 0.9rem;
  border: 1px solid var(--horizon);

  padding: 4px 7px;
  display: block;
  margin-bottom: 0.8rem;
  margin-top: 0.35rem;
  /* all form elements are inline otherwise */
}
textarea {
  border-radius: 5px;

  height: 5rem;
}
input,
textarea,
form {
  width: 25rem;
}
fieldset {
  margin-bottom: 1rem;
  border: 1.5px solid var(--berry);
}
fieldset:last-child {
  margin-bottom: 0.5rem;
}
/* needs parent element */
/* for input type=number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
label,
legend {
  font-size: 1.1rem;
  font-weight: 600;
}
form {
  margin-top: 2rem;
}
h1 {
  text-align: center;
  margin: 0 0 0.6em 0;
}

h2 {
  margin: 0 0 0.3em 0;
}
h3 {
  font-size: 1rem;
  margin: 0.5em 0 0.3em 0;
}
h4 {
  font-size: 0.95rem;
}
p,
li {
  font-size: 0.9rem;
  margin: 0;
}

.cardGallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 800px) {
  .cardGallery {
    flex-direction: column;
  }
}
.card {
  width: 20vw;
  display: inline;
  flex-direction: column;
  margin: 0 0.7rem;
  border-radius: 7px;
  background-color: var(--berry);
}

.card h3,
.card p {
  margin: 0;
}
.cardImg {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  overflow: hidden;
  border-radius: 7px 7px 0 0;
}
.cardDesc {
  color: var(--seashell);
  width: 20vw;
  padding: 0.2em 0.6em 0.5em;
  margin: 0;
}
/* SCROLLBAR */
#modal-root ::-webkit-scrollbar {
  width: 25px;
  margin: 3px;
  padding: 4px;
}
#modal-root ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-image: linear-gradient(var(--horizon), var(--horizon));
  /*border-right: 4px var(--seashell) solid*/
  /*background-clip: padding-box;*/
  border: 7px solid rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding: 4px;
}

#modal-root ::-webkit-scrollbar-thumb:hover {
  filter: brightness(0.3);
}
#modal-root ::-webkit-scrollbar-track {
  padding: 4px;
}

.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}
.error404 h1 {
  margin: 2rem 0 0.5rem 0;
  font-size: 3rem;
}

/* MESSAGING STYLES */
/* Chat list container */
.rce-container-clist {
  height: 100%;
  background-color: #fef8ea;
  /* width: 100%; */
  border-bottom-left-radius: 10px;
}
/* Chat list user card */
.rce-citem {
  background: unset !important;
}
.rce-container-citem:hover,
.rce-container-citem:active,
.rce-container-citem:focus,
.rce-container-clist .current {
  background-color: rgba(248, 93, 72, 0.12);
}

/* Chat list user name */
.rce-citem-body--top-title {
  font-weight: 500;
}

/* Messages list container  */
.rce-container-mlist {
  width: 100%;
}

.rce-container-mlist ::-webkit-scrollbar {
  width: 25px;
  margin: 3px;
  padding: 4px;
}
.rce-container-mlist ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-image: linear-gradient(var(--horizon), var(--horizon));
  /*border-right: 4px var(--seashell) solid*/
  /*background-clip: padding-box;*/
  border: 7px solid rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding: 4px;
}

.rce-container-mlist ::-webkit-scrollbar-thumb:hover {
  filter: brightness(0.3);
}
.rce-container-mlist ::-webkit-scrollbar-track {
  padding: 4px;
}

/* Messages list  */
.rce-mlist {
  overflow-y: scroll !important;
  height: calc(90vh - 47px);
  /* dependent on message input container height, 47px */
}
/* Input container */
.rce-container-input {
  position: absolute;
  bottom: 0;
  right: 0;
  /* width: 100%; */
  min-width: unset;
  height: fit-content;
  border-bottom-right-radius: 10px;
}
/* Message input */
.rce-input-textarea {
  padding: 7px !important;
  margin: 5px;
  overflow: hidden;
  background-color: #dee7f3;
  width: calc(100% - 65px);
  /* doesnt scale because of 2nd window parent */
}
/* Message send btn */
.rce-input-buttons button {
  margin: 0;
}

/* Sender message  */
.rce-mbox {
  box-shadow: unset !important;
  background: rgba(248, 93, 72, 0.12) !important;
}
/* Recipient/current user message  */
.rce-mbox-right {
  background: #dee7f3 !important;
}
