/* TODO: add shadows */
:root {
  --berry: #4f002a;
  --seashell: #fefbf6;
  --sunlight: #ffdf9d;
  --aqua: #00a998;
  --horizon: #0b5ee0;
  --clay: #f85d48;
  --gray: rgba(0, 0, 0, 0.35);
}

* {
  box-sizing: border-box;
  --navbarHeight: 3.9rem;
}

html,
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-size: calc(0.9em + 0.2vw);
  color: var(--berry);
  background-color: var(--seashell);
}

body {
  min-height: calc(100vh - var(--navbarHeight));
  display: flex;
  flex-direction: column;
}
main {
  min-height: 60vh;
  /* TODO: sticky footer not working */
  margin: 0 7rem;
  flex: 1;
}
@media (max-width: 800px) {
  main {
    margin: 0 4rem;
  }
}
.header {
  background-color: var(--horizon);
  text-align: center;
  color: var(--seashell);
  display: block;
  padding: 0.7rem;
  width: 100vw;
  margin: var(--navbarHeight) 0 1.5rem;
}
a {
  color: inherit;
  transition: color 0.15s ease;
  /* border-color: 0.15s ease; */
  box-shadow: 0 -0.4em 0 inset var(--sunlight);
  text-decoration: none;
  position: relative;
  z-index: 1;
  font-weight: 600;
}
.blueUnderline {
  box-shadow: 0 -0.4em 0 inset var(--horizon);
}
/* a:hover,
a:focus,
a:active 
TODO:add animations/transitions*/
.noUnderline {
  box-shadow: none;
  /*for buttons/pills/other links to take away default <a> underline*/
}
button {
  border: none;
  color: var(--seashell);
  font-weight: 600;
  padding: 0.5rem;
  margin: 4px 0;
}

input,
button,
textarea {
  font-size: inherit;
  font-family: inherit;
  border-radius: 5px;
}
input,
textarea {
  font-size: 0.9rem;
  border: 1px solid var(--horizon);

  padding: 4px 7px;
  display: block;
  margin-bottom: 0.8rem;
  margin-top: 0.35rem;
  /* all form elements are inline otherwise */
}
textarea {
  border-radius: 5px;

  height: 5rem;
}
input,
textarea,
form {
  width: 25rem;
}
label {
  font-size: 1.1rem;
  font-weight: 600;
}
form {
  margin-top: 2rem;
}
h1 {
  text-align: center;
  margin: 0 0 0.6em 0;
}

h2 {
  margin: 0 0 0.3em 0;
}
h3 {
  font-size: 1rem;
  margin: 0.5em 0 0.3em 0;
}
p {
  font-size: 0.9rem;
  margin: 0;
}

.cardGallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 800px) {
  .cardGallery {
    flex-direction: column;
  }
}
.card {
  width: 20vw;
  display: inline;
  flex-direction: column;
  margin: 0 0.7rem;
  border-radius: 7px;
  background-color: var(--berry);
}

.card h3,
.card p {
  margin: 0;
}
.cardImg {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  overflow: hidden;
  border-radius: 7px 7px 0 0;
}
.cardDesc {
  color: var(--seashell);
  width: 20vw;
  padding: 0.2em 0.6em 0.5em;
  margin: 0;
}

#modal-root ::-webkit-scrollbar {
  width: 25px;
  margin: 3px;
  padding: 4px;
}
#modal-root ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-image: linear-gradient(var(--horizon), var(--horizon));
  /*border-right: 4px var(--seashell) solid*/
  /*background-clip: padding-box;*/
  border: 7px solid rgba(255, 255, 255, 0);
  background-clip: padding-box;
  padding: 4px;
}

#modal-root ::-webkit-scrollbar-thumb:hover {
  filter: brightness(0.3);
}
#modal-root ::-webkit-scrollbar-track {
  padding: 4px;
}

.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}
.error404 h1 {
  margin: 2rem 0 0.5rem 0;
  font-size: 3rem;
}
