.container:not(.navbar) {
  color: var(--seashell);
  background-color: var(--horizon);
}
.container {
  color: var(--seashell);
  background-color: var(--horizon);
  margin: 0;
  padding: 1rem;
}

.heroImg {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  margin: 0;
}
