.container {
  padding-top: 10rem;
  overflow: hidden;
}

.container h1,
.container h2,
.container p {
  text-align: center;
}

.container h2 {
  width: 39%;
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0 auto 1rem;
}
.container form {
  margin: 0 auto;
}
.container label {
  display: block;
}
.btns {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  height: 2.7rem;
}
.redirect {
  display: block;
  margin: 20rem auto;
}

.bold {
  font-weight: 600;
}
