.linkCard {
  background-color: var(--berry);
  color: var(--seashell);
  padding: 0.9em;
  border-radius: 7px;
  margin: 0 0.8rem 1.6rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}
.linkCard p {
  margin: 0;
}
.linkCard h2 {
  margin: 3px 0 10px;
  font-size: 1.3rem;
}
.source {
  color: var(--sunlight);
  font-weight: 500;
}
.linkIcon {
  font-size: 20px;
}
