.linkCard {
  background-color: var(--berry);
  color: var(--seashell);
  padding: 0.9em;
  border-radius: 7px;
  margin: 0 0.8rem 1.6rem;
  box-shadow: 0 3px 5px var(--gray);
}
.linkCard p {
  margin: 0;
}
.linkCard h2 {
  margin: 3px 0 10px;
  font-size: 1.3rem;
}
.source {
  color: var(--sunlight);
  font-weight: 500;
}
.linkIcon {
  font-size: 20px;
}

.mentorCard {
  padding: 0.9em;
  border-radius: 7px;
  box-shadow: 0 3px 5px var(--gray);
  transition: 0.3s ease;
}
.mentorCardOverlay {
  background-color: rgba(11, 94, 224, 0.12);

  padding: 0;
  border-radius: 7px;
  margin: 0 0.8rem 1.6rem;
  transition: 0.3s ease;
}
.redBg {
  background-color: var(--lightred);
}
.yellowBg {
  background-color: var(--lightyellow);
}
.greenBg {
  background-color: var(--lightgreen);
}
.blueBg {
  background-color: var(--lightblue);
}

.mentorCard h2 {
  display: inline;
}
.mentorCard ul {
  margin: 0;
}
.mentorCard h3 {
  margin-top: 0.1rem;
  font-weight: 600;
}
.mentorCard h4 {
  margin-bottom: 0.3rem;
  margin-top: 0.8rem;
  font-weight: 600;
}
.mentorCardOverlay {
  position: relative;
}
.messageBtn {
  display: none;
}
.messageBtn Button {
  transition: 1s ease;
}
.mentorCard:hover + .messageBtn,
.messageBtn:hover {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mentorCardOverlay:hover {
  background-color: rgba(87, 5, 23, 0.5);
}

.parentReflectionCard {
  padding: 0.9em;
  transition: 0.15s ease-in;
  margin: 0 0.8rem 1.6rem;
  background-color: white;
  /* border: solid 1px var(--berry); */
  border-radius: 5px;
  box-shadow: 0 3px 5px var(--gray);
}
